.navbar{
    height:5rem;
   
    margin:0 auto;
    padding: 1rem 2rem;
    background: rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 5rem;
    width:5rem;
    border-radius: 50%;
}
.desktopMenuListItem{
    margin:1rem;
    color: white;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.desktopMenuBtn{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 7rem;
}
.desktopMenuImg{
    height:1rem;
    width: 1rem;
    object-fit: cover;
    margin: 0.75rem;
}
.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    height: 4rem;
    width:4rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}
.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    background: rgb(30,30,30);
}
@media screen and (max-width:660px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
    
}