.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    background: rgb(50,50,50);
    color: black;
    margin: 3rem 1rem;
    border-radius: 10px;
   

}
.title{
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
   

}
.skills{
    display: flex;
    margin:0 1rem;
 justify-content: center;

}
.skill{
   padding: 1rem;
   background: rgb(40,40,40);
   flex-basis:100px;
   justify-content: space-around;
   align-items: center;
   margin-right: 1rem;
   margin-bottom: 1rem;
   cursor: pointer;
   color: white;
   border-radius: 8px;
}

.skill:hover{
    background: rgb(30,30,30);
    transition: 0.5s rotate;
    rotate: 10deg;
  
}
